.container {
  width: 100%;
  height: 100vh;
}

.background {
  background-color: rgb(72 138 54);
  position: relative;
}

img {
  width: 15%;
  position: absolute;
  left: 0;
}

.down {
  transform: rotate(90deg);
}

.left {
  transform: rotate(180deg);
}

.up {
  transform: rotate(270deg);
}

.right {
  transform: rotate(0deg);
}
